@font-face {
    font-family: SUBWT;
    src: url('../SUBWT.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

h1 {
    font-family: 'SUBWT';
    font-size: 5em;
    text-align: center;
    margin: 5vh auto 10vh auto;
}

input {
    height: 40px;
}

div.row {
    display: inline;
    margin-left: 40vw;
}

button {
    margin-left: 44vw;
    height: 100px;
    width: 200px;
}

button#submit {
    height: 50px;
    margin-left: 0;
}

#grid {
    position: relative;
    margin: 2vh 30vw 2vh 36vw;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 500px;
    width: 500px;
}

.sqr {
    height: 27px;
    width: 27px;
    border: 1px #a19f9f33 solid;
    background-color: white;
    opacity: 0;
    margin: 1px;
}